@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "outfit", sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 340px;
  margin: 0 auto;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 18px;
  margin: 0 1em;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card .text {
  text-align: center;
  padding: 20px;
}

.card .text h2 {
  margin-bottom: 10px;
  color: hsl(218, 44%, 22%);
}

.card .text p {
  color: hsl(216, 15%, 48%);
}
